@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600;1,700;1,800&display=swap');

.pageContainer{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
}

.navBar{
    width: 100vw;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(#7879F1 25%, #6263c9 50%, #5152C3 65%);
}

.iconNavBar {
    font-size: 3.5rem;
    margin-left: 2vh;
}

.iconNavBar:hover {
    font-size: 4rem;
}

.iconNavBar:focus {
    filter: drop-shadow(1px 3px 8px #5152C3);
}

.navBarContent {
    width: 70vw;
    height: 100%;
}

.langNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 6%;
    height: 100%;
}

.flag{
    font-size: 25px;
    border-radius: 50%;
    border:  2px solid white;
    margin-right: 2vh;
}

.flag:hover {
    font-size: 30px;
}

.flag:focus {
    filter: drop-shadow(1px 3px 8px #5152C3);
}

.homeContainer {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    height: 87%; 
}

.welcomeContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 100%;
}
.welcome {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
    text-transform: uppercase;
    margin-top: 20px;
}

.textCarousel{
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.icon {
    font-size: 10rem;
    margin-top: 60px;
}
.textFormat {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
}
.decoLinesContainer{
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 1rem;
    margin-right: -1rem;
    width: 8%;
    height: 87vh;
}
.decoLinesContainer > div{
    border: 1px solid #5152C3;
    background: #5152C3;
}

.decoLine1 {
    width: 2%;
    }
.decoLine2 {
    width: 4%;
    }
.decoLine3 {
    width: 6%;
    }
.decoLine4 {
    width: 8%;
    }
.decoLine5 {
    width: 10%;
    }

.signinContainer{
    width: 25%;
    height: 100%;
    background: linear-gradient(#A5A6F6 60%, #bcbdfc 70%, #E9E9F9 85%);
}
